dotenv
langchain 
langchain-community 
pypdf 
beautifulsoup4
fastapi 
uvicorn 
streamlit
langchain-text-splitters
langchain-huggingface 
sentence-transformers
langchain-chroma 
chromadb
langchain-openai
langchain-anthropic
